article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.6rem; }

img {
  width: 100%;
  display: block; }

p {
  margin: 0; }

.wrapper {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px; }

.btn {
  border: 1px solid #2a2a2a;
  border-radius: 30px;
  padding: 10px 50px;
  background-color: transparent;
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.btn:hover {
  background-color: #2a2a2a;
  color: #fff; }

.hero__content__heading {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.268rem;
  margin: 0 0 20px 0;
  padding: 0; }

.text-block__heading,
.features__heading,
.testimonials__heading,
.content-slider_heading,
.news__heading,
.ask-a-question__heading {
  font-family: "Catamaran", sans-serif;
  font-size: 4.6rem;
  color: #2a2a2a;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center; }

.features__feature__title,
.testimonials__content__copy__subhead,
.horizontal-gallery__figure__link__caption__heading,
.gallery__navigation__list__item,
.gallery__navigation__list__link,
.gallery__images__caption__heading,
.footer-main__heading {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 0; }

.news__article__heading,
.ask-a-question__form__input,
.ask-a-question__form__input::-webkit-input-placeholder,
.hero__content__copy {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  opacity: 1;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.news__article__heading,
.ask-a-question__form__input,
.ask-a-question__form__input:-ms-input-placeholder,
.hero__content__copy {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  opacity: 1;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.news__article__heading,
.ask-a-question__form__input,
.ask-a-question__form__input::-ms-input-placeholder,
.hero__content__copy {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  opacity: 1;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.news__article__heading,
.ask-a-question__form__input,
.ask-a-question__form__input::placeholder,
.hero__content__copy {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  opacity: 1;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.footer-legal__copy {
  font-family: "Catamaran", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

.text-block__copy,
.features__feature__copy,
.testimonials__content__copy,
.content-slider__slider__bottom__copy {
  font-family: "Lato", sans-serif;
  color: #2a2a2a;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.8rem; }

.footer-main__contact__details,
.footer-main__contact__details__link,
.footer-main__about__copy,
.footer-main__form__input .footer-main__form__input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

.footer-main__contact__details,
.footer-main__contact__details__link,
.footer-main__about__copy,
.footer-main__form__input .footer-main__form__input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

.footer-main__contact__details,
.footer-main__contact__details__link,
.footer-main__about__copy,
.footer-main__form__input .footer-main__form__input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

.footer-main__contact__details,
.footer-main__contact__details__link,
.footer-main__about__copy,
.footer-main__form__input .footer-main__form__input::placeholder {
  font-family: "Lato", sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

.logo-heading {
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

a {
  text-decoration: none;
  color: #2a2a2a; }

.footer-main__contact__details__link:hover {
  text-decoration: underline; }

.footer-nav__list__link {
  display: inline-block;
  font-family: "Catamaran", sans-serif;
  color: #2a2a2a;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.news__article__link {
  font-family: "Catamaran", sans-serif;
  color: #285d64;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }

.text--italic {
  font-style: italic; }

.text--white {
  color: #fff; }

.text--blue {
  color: #285d64; }

.gallery__images figcaption,
.horizontal-gallery figcaption {
  display: none; }

.gallery__images figure:hover figcaption,
.horizontal-gallery figure:hover figcaption {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 50px; }

header {
  z-index: 20;
  position: relative;
  display: absolute; }

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px; }

.logo-heading {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%; }

.header-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 70%;
  flex: 1 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
  font-size: 2rem;
  font-weight: 600; }

.header-nav__list li:first-child {
  display: none; }

.header-nav__mobile-menu {
  display: none;
  color: #fff; }

.show.header-nav {
  display: block; }

.header-nav__list__item__link {
  padding: 0 20px;
  color: #2a2a2a; }

.header-nav__list__item__link:hover {
  text-decoration: underline; }

.hero {
  position: relative;
  height: 100%;
  top: -85px; }

.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.hero figure {
  position: relative; }

.hero__content {
  position: absolute;
  text-align: left;
  z-index: 10;
  top: 42%;
  padding: 0 30px 0 0; }

.hero__content .btn {
  margin: 15px 0 0 0; }

.text-block {
  position: relative;
  text-align: center;
  padding: 0px 0 130px 0; }

.text-block__copy {
  margin: 30px 0px 75px 0px;
  padding: 0 75px; }

.features {
  background-color: #bec884;
  padding: 130px 0 130px 0; }

.features .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px; }

.features__feature {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(33% - 30px);
  flex: 1 0 calc(33% - 30px);
  padding: 0px;
  margin: 0 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.features__feature__icon,
.features__feature__title,
.features__feature__copy {
  text-align: center;
  color: #2a2a2a; }

.features__feature__title {
  margin: 10px 0; }

.features__feature__copy {
  padding: 0px; }

.features__feature__icon {
  font-size: 6rem;
  margin: 0; }

.testimonials {
  padding: 120px 0 120px 0; }

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.testimonials__content__figure {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(40% -50px);
  flex: 1 0 calc(40% -50px);
  margin: 0 50px 0 0; }

.testimonials__content__copy {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(60%);
  flex: 1 0 calc(60%);
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.testimonials__content__copy__subhead,
.testimonials__content__copy p {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(100%);
  flex: 1 0 calc(100%); }

.horizontal-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.horizontal-gallery__figure {
  position: relative; }

.horizontal-gallery__figure__link__caption__heading {
  color: #fff; }

.content-slider {
  background-color: #efefef;
  padding: 130px 0; }

.content-slider__slider__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 75px; }

.content-slider__slider__top__controls {
  color: #cacecf;
  font-size: 4rem;
  font-weight: 400;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%; }

.content-slider__slider__top__controls:hover {
  color: #2a2a2a; }

.content-slider__slider__top__figure {
  margin: 0 35px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 10%;
  flex: 1 0 10%; }

.content-slider__slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 75px;
  margin-top: 50px; }

.control--left {
  text-align: right; }

.control--right {
  text-align: left; }

.news {
  padding: 130px 0; }

.news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px; }

.news__article {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(100%/3 - 30px);
  flex: 1 0 calc(100%/3 - 30px);
  margin: 0 15px; }

.news__article__figure {
  margin-bottom: 25px; }

.news__article__link:hover {
  text-decoration: underline; }

.ask-a-question {
  padding: 120px 0;
  background-color: #f2b094; }

.ask-a-question__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px; }

.ask-a-question__form__input {
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  width: 80%;
  padding: 10px 50px;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin-bottom: 50px; }

.ask-a-question__form .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%; }

.gallery {
  padding: 130px 0;
  background-color: #efefef; }

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 20px; }

.gallery__navigation {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  -ms-flex-item-align: stretch;
  align-self: stretch; }

.gallery__navigation_list {
  background-color: #606060;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  height: 100%; }

.gallery__navigation__list__item:first-child {
  padding: 70px 0 70px 0;
  border-bottom: 1px #fff solid; }

.gallery__navigation__list__link a {
  display: block;
  padding: 30px 0;
  margin: 0; }

.gallery__navigation__list__link a:hover {
  background-color: #2a2a2a; }

.gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 70%;
  flex: 1 0 70%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.gallery__images figure {
  position: relative; }

.gallery__images figure:nth-child(1) {
  margin: 0px 10px 10px 20px; }

.gallery__images figure:nth-child(2) {
  margin: 0px 0px 10px 10px; }

.gallery__images figure:nth-child(3) {
  margin: 10px 10px 0px 20px; }

.gallery__images figure:nth-child(4) {
  margin: 10px 0px 0px 10px; }

.footer-main {
  padding: 130px 0 50px 0; }

.footer-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-main__section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(33.333% - 100px - 5%);
  flex: 1 0 calc(33.333% - 100px - 5%);
  margin: 0 50px; }

.footer-main__form {
  border: 1px solid #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 20px; }

.footer-main__form__input {
  font-family: "Lato", sans-serif;
  border: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 90%;
  flex: 1 0 90%;
  margin: 0;
  padding: 5px 5px; }

.footer-main__form__input:focus {
  background: #2a2a2a;
  color: #fff; }

.footer-btn {
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 10%;
  flex: 1 0 10%;
  justify-self: flex-end; }

.footer-btn:hover {
  color: #285d64; }

.instagram__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-main__section p:nth-child(2),
.instagram__container {
  margin-top: 50px; }

.instagram__post {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(25% - 10px);
  flex: 1 0 calc(25% - 10px);
  margin: 0 10px 10px 0; }

.footer-nav .wrapper {
  margin: 50px auto; }

.logo-heading {
  text-align: center; }

.footer-nav_list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer-nav__list__link a {
  padding: 10px; }

.footer-nav__list__link a:hover {
  text-decoration: underline; }

.footer-legal {
  background-color: #2a2a2a;
  padding: 5px; }

@media (max-width: 1280px) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px; }
  .hero__content {
    position: absolute;
    text-align: left;
    z-index: 10;
    top: 38%;
    padding: 0 30px 0 0; }
  .hero__content__heading {
    font-size: 7rem; }
  .text-block__heading,
  .features__heading,
  .testimonials__heading,
  .content-slider_heading,
  .news__heading,
  .ask-a-question__heading {
    font-size: 3.6rem; }
  .logo-heading,
  .testimonials__content__copy__subhead,
  .features__feature__title,
  .horizontal-gallery__figure__link__caption__heading,
  .gallery__navigation__list__item,
  .gallery__navigation__list__link,
  .gallery__images__caption__heading,
  .footer-main__heading {
    font-size: 2.8rem; }
  .news__article__link,
  .news__article__heading,
  .ask-a-question__form__input,
  .ask-a-question__form__input::-webkit-input-placeholder,
  .hero__content__copy {
    font-size: 1.6rem; }
  .news__article__link,
  .news__article__heading,
  .ask-a-question__form__input,
  .ask-a-question__form__input:-ms-input-placeholder,
  .hero__content__copy {
    font-size: 1.6rem; }
  .news__article__link,
  .news__article__heading,
  .ask-a-question__form__input,
  .ask-a-question__form__input::-ms-input-placeholder,
  .hero__content__copy {
    font-size: 1.6rem; }
  .news__article__link,
  .news__article__heading,
  .ask-a-question__form__input,
  .ask-a-question__form__input::placeholder,
  .hero__content__copy {
    font-size: 1.6rem; }
  .footer-legal__copy {
    font-size: 1.6rem; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::-webkit-input-placeholder {
    font-size: 1.8rem; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input:-ms-input-placeholder {
    font-size: 1.8rem; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::-ms-input-placeholder {
    font-size: 1.8rem; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::placeholder {
    font-size: 1.8rem; }
  .hero .btn,
  .btn {
    padding: 8px 40px;
    font-size: 1.5rem;
    margin-top: 5px; }
  .features__feature {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(33% - 30px);
    flex: 1 0 calc(33% - 30px);
    padding: 0 25px;
    margin: 0 15px; }
  .gallery__navigation {
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  .gallery__images figure {
    max-width: 280px; }
  .gallery__navigation__list__item:first-child {
    padding: 30px 0; }
  .footer-main__section {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(33.333% - 50px);
    flex: 1 0 calc(33.333% - 50px);
    margin: 0 25px; } }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .logo-heading,
  .header-nav__mobile-menu {
    font-size: 2.5rem; }
  .hero__content__heading {
    font-size: 7rem; }
  .text-block__heading,
  .features__heading,
  .testimonials__heading,
  .content-slider_heading,
  .news__heading,
  .ask-a-question__heading {
    font-size: 3rem; }
  .features__feature__title,
  .news__article__heading
.testimonials__content__copy__subhead,
  .horizontal-gallery__figure__link__caption__heading,
  .gallery__navigation__list__item,
  .gallery__navigation__list__link,
  .gallery__images__caption__heading,
  .footer-main__heading {
    font-size: 2rem; }
  .news__article__link,
  .ask-a-question__form__input,
  .ask-a-question__form__input::-webkit-input-placeholder,
  .hero__content__copy,
  .header-nav__list__item__link {
    font-size: 1.6rem; }
  .news__article__link,
  .ask-a-question__form__input,
  .ask-a-question__form__input:-ms-input-placeholder,
  .hero__content__copy,
  .header-nav__list__item__link {
    font-size: 1.6rem; }
  .news__article__link,
  .ask-a-question__form__input,
  .ask-a-question__form__input::-ms-input-placeholder,
  .hero__content__copy,
  .header-nav__list__item__link {
    font-size: 1.6rem; }
  .news__article__link,
  .ask-a-question__form__input,
  .ask-a-question__form__input::placeholder,
  .hero__content__copy,
  .header-nav__list__item__link {
    font-size: 1.6rem; }
  .footer-legal__copy {
    font-size: 1rem; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::-webkit-input-placeholder {
    font-size: 1.4rem;
    line-height: 2; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input:-ms-input-placeholder {
    font-size: 1.4rem;
    line-height: 2; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::-ms-input-placeholder {
    font-size: 1.4rem;
    line-height: 2; }
  .text-block__copy,
  .features__feature__copy,
  .testimonials__content__copy,
  .content-slider__slider__bottom__copy,
  .footer-main__contact__details,
  .footer-main__contact__details__link,
  .footer-main__about__copy,
  .footer-main__form__input
.footer-main__form__input::placeholder {
    font-size: 1.4rem;
    line-height: 2; }
  .footer-main__contact__details,
  .footer-main__contact__details__link {
    line-height: 3; }
  .text-block,
  .features,
  .testimonials,
  .content-slider,
  .news,
  .ask-a-question,
  .gallery {
    padding: 60px 0; }
  .footer-main {
    padding: 60px 0 0 0; }
  .text-block {
    padding-top: 0px; }
  .wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 0 10px; }
  header .logo-heading {
    color: white; }
  .header-nav__mobile-menu,
  .header-nav__list li:first-child {
    display: inline-block; }
  .header-nav__list li:first-child {
    text-align: right;
    padding: 0 20px;
    position: relative;
    top: -25px;
    right: 25px; }
  .header-nav__list li:first-child a {
    font-size: 3rem; }
  .header-nav {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background-color: #bec884;
    color: white;
    text-align: center; }
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
  .header-nav__list__item {
    margin-top: 10px; }
  .header-nav__list__item__link {
    color: white;
    text-align: center;
    width: 100%;
    padding: 0px; }
  .hero figure {
    background: #000; }
  .hero figure img {
    opacity: 0.5; }
  .hero__content {
    text-align: center;
    padding: 0; }
  .hero .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .hero .btn {
    border: 1px solid #fff;
    margin-top: 30px; }
  .hero .btn:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #2a2a2a; }
  .hero__content__heading,
  .hero__content__copy,
  .hero .btn {
    color: #fff; }
  .text-block__copy {
    margin: 30px 0; }
  .features .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 30px; }
  .features__feature {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(33%);
    flex: 1 0 calc(33%);
    margin: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .features__feature__copy {
    margin: 0px;
    padding: 0 75px; }
  .features__feature__icon {
    font-size: 4rem; }
  .testimonials__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .testimonials__content__figure {
    margin-right: 0;
    width: 40%; }
  .testimonials__content__copy {
    text-align: center;
    margin-top: 50px; }
  .content-slider__slider__top__figure {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20%;
    flex: 1 0 20%; }
  .content-slider__slider__bottom {
    padding: 0 10px; }
  .horizontal-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .horizontal-gallery__figure {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }
  .news .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .news__article {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 30px);
    flex: 1 0 calc(100% - 30px);
    margin: 25px 15px;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news__article__figure {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }
  .news__article__copy {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(50% - 50px);
    flex: 1 0 calc(50% - 50px);
    margin: 0 0 0 25px; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .gallery__navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-item-align: center;
    align-self: center; }
  .gallery__navigation_list {
    background-color: #606060;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery__navigation__list__item:first-child {
    padding: 25px 0 30px 0;
    border-bottom: 1px #fff solid;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .gallery__navigation__list__link a {
    padding: 30px 10px; }
  .gallery__navigation__list__link a:hover {
    background-color: transparent;
    text-decoration: underline; }
  .gallery__images {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px; }
  .gallery__images figure {
    width: 100%; }
  .gallery__images figure:nth-child(1) {
    margin: 0px 10px 10px 0px; }
  .gallery__images figure:nth-child(3) {
    margin: 10px 10px 0px 0px; }
  .footer-main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-main__section {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 50px);
    flex: 1 0 calc(100% - 50px);
    margin: 25px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .instagram__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%; }
  .instagram__post {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(25% - 10px);
    flex: 1 0 calc(25% - 10px);
    margin: 0 10px 10px 0; }
  .footer-main__section p:nth-child(2),
  .instagram__container {
    margin-top: 25px; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 420px;
    margin: 0 auto;
    padding: 0 10px; }
  .hero__content__heading {
    font-size: 4rem;
    margin-bottom: 10px; }
  .hero {
    top: -80; }
  .hero__figure__img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 60vh; }
  .welcome .btn, .hero .btn {
    margin-top: 10px; }
  .text-block__copy {
    padding: 10px; }
  .features__feature__copy {
    padding: 0 10px; }
  .news .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px; }
  .news__article {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 30px);
    flex: 1 0 calc(100% - 30px);
    margin: 25px 0px; }
  .news__article__figure {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .news__article__copy {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .news__article__link {
    padding-left: 0; }
  .gallery {
    padding: 0; }
  .gallery .wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 60px 0;
    margin: 0 auto; }
  .gallery__navigation_list {
    background-color: #606060;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery__navigation__list__item:first-child {
    padding: 25px 0 30px 0;
    border-bottom: 1px #fff solid;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .gallery__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery__images__single-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(50% - 5px);
    flex: 1 0 calc(50% - 5px); }
  .gallery__images figure:nth-child(1) {
    margin: 0px 5px 5px 0px; }
  .gallery__images figure:nth-child(2) {
    margin: 0px 0px 5px 5px; }
  .gallery__images figure:nth-child(3) {
    margin: 5px 5px 0px 0px; }
  .gallery__images figure:nth-child(4) {
    margin: 5px 0px 0px 5px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    width: 300px; }
  .hero {
    top: -80; }
  .hero__figure__img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 80vh; }
  .features__feature__copy {
    padding: 0 10px; }
  .horizontal-gallery__figure {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  .news__article__copy {
    text-align: center;
    display: block; }
  .gallery__navigation {
    width: 100%; }
  .gallery__navigation_list {
    width: 100%;
    display: block; }
  .gallery__navigation__list__item,
  .gallery__navigation__list__link a {
    display: inline-block;
    padding: 20px 20px;
    margin: 0; }
  .gallery__images__single-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 5px);
    flex: 1 0 calc(100% - 5px); }
  .gallery__images figure:nth-child(1),
  .gallery__images figure:nth-child(2),
  .gallery__images figure:nth-child(3),
  .gallery__images figure:nth-child(4) {
    margin: 10px 0 0 0; }
  .instagram__container {
    width: 100%; } }
